In [1]:
# Single word
str = 'hello'
str

'hello'

In [3]:
# Entire phrase 
'This is a string'

'This is a string'

In [4]:
# using double quote
"String built with double quotes"

'String built with double quotes'

In [5]:

'I'm using single quotes, but will create an error'

SyntaxError: invalid syntax (<ipython-input-5-dead77b3e6ca>, line 1)

In [6]:
"Now I'm ready to use the single quotes inside a string!"

"Now I'm ready to use the single quotes inside a string!"

In [7]:
# We can simply declare a string
'Hello World'

'Hello World'

In [9]:
#we can't output multiple strings this way
'Hello World 1'
'Hello World 2'

'Hello World 2'

In [11]:
len('Hello World')

11

In [12]:
# Assign s as a string
s = 'Hello World'

In [13]:
s

'Hello World'

In [14]:
print(s)

Hello World

In [15]:
# Show first element (in this case a letter)
s[0]

'H'

In [16]:
s[1]

'e'

In [17]:
s[2]

'l'

In [20]:
# Grab everything past the second term all the way to the length of s which is len(s)
s[2:]

'llo World'

In [22]:
#there is no change to the original s
s

'Hello World'

In [23]:
# Grab everything UP TO the 3rd index
s[:3]

'Hel'

In [24]:
#Everything in s
s[:]

'Hello World'

In [25]:
# Last letter (one index behind 0 so it loops back around)
s[-1]

'd'

In [26]:
# Grab everything but the last letter
s[:-1]

'Hello Worl'

In [25]:
# Grab everything, but go in steps size of 1
s[::1]

'Hello World'

In [26]:
# Grab everything, but go in step sizes of 2
s[::2]

'HloWrd'

In [27]:
# We can use this to print a string backwards
s[::-1]

'dlroW olleH'

In [28]:
s

'Hello World'

In [28]:
# Let's try to change the first letter to 'x'
#we cant change the strings directly as they are immutable
s[0] = 'x'

TypeError: 'str' object does not support item assignment

In [29]:
s

'Hello World'

In [30]:
# Concatenate strings!
s + ' concatenate me!'

'Hello World concatenate me!'

In [31]:
# We can reassign s completely though!
s = s + ' concatenate me!'

In [32]:
print(s)

Hello World concatenate me!

In [33]:
s

'Hello World concatenate me!'

In [34]:
letter = 'z'

In [35]:
letter*100

'zzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzz'

In [36]:
s

'Hello World concatenate me!'

In [37]:
# Upper Case a string
s.upper()

'HELLO WORLD CONCATENATE ME!'

In [38]:
# Lower case
s.lower()

'hello world concatenate me!'

In [39]:
# Split a string by blank space (this is the default)
s.split()

['Hello', 'World', 'concatenate', 'me!']

In [41]:
# Split by a specific element (doesn't include the element that was split on)
s.split('e')

['H', 'llo World concat', 'nat', ' m', '!']

In [42]:
'Insert another string with curly brackets:{}'.format({'The inserted string'})

"Insert another string with curly brackets:{'The inserted string'}"

In [43]:
print(s)
s.count('a')

Hello World concatenate me!

2

In [44]:
s.find('o')

4

In [45]:
s.center(100,'z')

'zzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzHello World concatenate me!zzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzz'

In [48]:
'hello\thi'.expandtabs()

'hello   hi'

In [46]:
s = 'hello'

In [47]:
s.isalnum()

True

In [48]:
s.isalpha()

True

In [49]:
s.islower()

True

In [50]:
s.isspace()

False

In [51]:
s.istitle()

False

In [52]:
s.isupper()

False

In [53]:
s.endswith('o')

True

In [54]:
s.split('e')

['h', 'llo']

In [55]:
s.partition('e')

('h', 'e', 'llo')

In [59]:
s

'hello'

In [56]:
# Assign a list to an variable named my_list
my_list = [1,2,3]

In [57]:
my_list = ['A string',23,100.232,'o']
my_list

['A string', 23, 100.232, 'o']

In [58]:
len(my_list)

4

In [60]:
my_list = ['one','two','three',4,5,6]

In [61]:
# Grab element at index 0
my_list[0]

'one'

In [62]:
# Grab index 1 and everything past it
my_list[1:]

['two', 'three', 4, 5, 6]

In [63]:
# Grab everything UP TO index 3
my_list[:3]

['one', 'two', 'three']

In [64]:
my_list + ['new item']

['one', 'two', 'three', 4, 5, 6, 'new item']

In [65]:
my_list

['one', 'two', 'three', 4, 5, 6]

In [66]:
# Reassign
my_list = my_list + ['add new item permanently']

In [70]:
my_list

['one', 'two', 'three', 4, 5, 6, 'add new item permanently']

In [71]:
# Making the list double
my_list * 2

['one',
 'two',
 'three',
 4,
 5,
 6,
 'add new item permanently',
 'one',
 'two',
 'three',
 4,
 5,
 6,
 'add new item permanently']

In [72]:
#doubling is not permanent
my_list

['one', 'two', 'three', 4, 5, 6, 'add new item permanently']

In [74]:
# Creating  a new list
l = [1,2,3]

In [76]:
# Append
l.append('append me')

In [77]:
# Show
l

[1, 2, 3, 'append me!', 'append me']

In [78]:
# Pop off the 0 indexed item
l.pop(0)

1

In [79]:
l

[2, 3, 'append me!', 'append me']

In [80]:
# Assign the popped element, remember default popped index is -1
popped_item = l.pop()

In [81]:
popped_item

'append me'

In [82]:
#remaining list
l

[2, 3, 'append me!']

In [84]:
l[2]

'append me!'

In [86]:
new_list = ['a','b','c','d','e']

In [87]:
new_list

['a', 'b', 'c', 'd', 'e']

In [91]:
# Using reverse to reverse order (this is permanent!)
new_list.reverse()

In [92]:
new_list

['e', 'd', 'c', 'b', 'a']

In [93]:
# Using sort to sort the list (in this case alphabetical order, but for numbers it will go ascending)
new_list.sort()

In [94]:
new_list

['a', 'b', 'c', 'd', 'e']

In [96]:
# Let's make three lists
lst_1=[1,2,3]
lst_2=[4,5,6]
lst_3=[7,8,9]

# Making a list of lists to form a matrix
matrix = [lst_1,lst_2,lst_3]

In [97]:
matrix

[[1, 2, 3], [4, 5, 6], [7, 8, 9]]

In [98]:
# Grab first item in matrix object
matrix[0]

[1, 2, 3]

In [99]:
# Grab first item of the first item in the matrix object
matrix[1][1]

5

In [101]:
# Building a list comprehension by deconstructing a for loop within a []
first_col = [row[2] for row in matrix]

In [102]:
first_col

[3, 6, 9]

In [104]:
l = [1,2,3]

In [105]:
l.append(4)

l

[1, 2, 3, 4]

In [106]:
l.count(10)

0

In [107]:
l.count(2)

1

In [108]:
x = [1, 2, 3]
x.append([4, 5])
print(x)

[1, 2, 3, [4, 5]]

In [109]:
x = [1, 2, 3]
x.extend([4, 5])
print(x)

[1, 2, 3, 4, 5]

In [110]:
print(l)
l.index(2)

[1, 2, 3, 4]

1

In [112]:
l.index(1)

0

In [113]:
l

[1, 2, 3, 4]

In [114]:
# Place a letter at the index 2
l.insert(2,'inserted')

In [115]:
l

[1, 2, 'inserted', 3, 4]

In [116]:
ele = l.pop()

In [117]:
l

[1, 2, 'inserted', 3]

In [118]:
ele

4

In [119]:
l

[1, 2, 'inserted', 3]

In [120]:
l.remove('inserted')

In [121]:
l

[1, 2, 3]

In [122]:
l = [1,2,3,4,3]

In [123]:
l.remove(3)

In [124]:
l

[1, 2, 4, 3]

In [125]:
l.reverse()

In [126]:
l

[3, 4, 2, 1]

In [127]:
l

[3, 4, 2, 1]

In [128]:
l.sort()

In [129]:
l

[1, 2, 3, 4]